<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>The Hemispheres of Mars</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>
	<h6><a href='/'>Home</a></h6>
	<h1>Hemispheres</h1>
	<div class="container-fluid">
		<img id='hemispheres' class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6" float='left' max-width='100%' width='auto' height='auto' src='{{mars_data.0.sample_url}}'
			alt="Valles_Marineris_Image" background-size='contain'>
		<img id='hemispheres' class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6" float='right' max-width='100%' width='auto' height='auto' src='{{mars_data.1.sample_url}}'
			alt="cerberus_image" background-size='contain'>
	</div>
	<div class="container-fluid">
		<img id='hemispheres' class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6" float='left' max-width='100%' width='auto' height='auto' src='{{mars_data.2.sample_url}}'
			alt="Schiaparelli_image" background-size='contain'>
		<img id='hemispheres' class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6" float='right' max-width='100%' width='auto' height='auto' src='{{mars_data.3.sample_url}}'
			alt="Syrtis_Major_image" background-size='contain'>
	</div>

	<!-- {"title": "Valles Marineris Hemisphere", "img_url": Valles_Marineris_href},
  {"title": "Cerberus Hemisphere", "img_url": cerberus_href},
  {"title": "Schiaparelli Hemisphere", "img_url": Schiaparelli_href},
  {"title": "Syrtis Major Hemisphere", "img_url": Syrtis_Major_href},
  {"article_title": article_title, "article_paragraph": article_paragraph},
  {"featured_img_url": featured_img_url},
  {"mars_weather": mars_weather}, -->
	<!--
    0: Valles Marineris Hemisphere
    1: Cerberus Hemisphere
    2: Schiaparelli Hemisphere
    3: Syrtis Major Hemisphere
    4: Nasa News Article/Text
    5: JPL Homepage Image
    6: Tweet
    7: html Table; 
  -->

</body>

</html>