<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Aggregated Mars Information</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">





</head>
<body>
	<div>

		<div class="jumbotron text-center container-fluid">
			<h1>Mission to Mars</h1>
			<p> The latest information is displayed below. Hemispheres can be found <a href='/hemispheres'>here</a> </p>
			<p><a class="btn btn-primary btn-md" href="/scrape" role="button">Get Data!</a></p>
			<p><a class="btn btn-primary btn-md" href="/" role="button">Refresh!</a></p>
		</div>
		<div class='container-fluid'>
			<h2 class='text-center'>Latest Mars News</h2>
			<h3 >{{mars_data.4.article_title}}</h3>
			<p >{{mars_data.4.article_paragraph}}</p>
		</div>
		
		<div class='container-fluid'>
			<div class='row'>
			<!-- LEFT COLUMN -->
				<div class='col-md-8'>
					<h2 aria-hidden="true">Featured Mars Image</h2>
					<img class='contain' src="{{mars_data.5.featured_img_url}}" alt="Main_mars_image">
				</div>
			<!-- RIGHT COLUMN -->
				<div class='col-md-4'>
					<h2>Latest Mars' Weather From Twitter: </h2>
					<p>{{ mars_data.6.mars_weather }}</p>
				</div>

				<div class='col-md-4 mars_table'> {{ mars_data.7.mars_table_html|safe }} </div>
			</div>
		</div>
	</div>

		
				<!-- 
			<p>Hemispheres
			</p>
				
			<img src='{{mars_data.0}}' alt="Valles_Marineris_Image">
				<img src='{{mars_data.1}}' alt="cerberus_image">
				<img src='{{mars_data.2}}' alt="Schiaparelli_image">
				<img src='{{mars_data.6}}' alt="Syrtis_Major_image"> -->


	<!-- {"title": "Valles Marineris Hemisphere", "img_url": Valles_Marineris_href},
  {"title": "Cerberus Hemisphere", "img_url": cerberus_href},
  {"title": "Schiaparelli Hemisphere", "img_url": Schiaparelli_href},
  {"title": "Syrtis Major Hemisphere", "img_url": Syrtis_Major_href},
  {"article_title": article_title, "article_paragraph": article_paragraph},
  {"featured_img_url": featured_img_url},
  {"mars_weather": mars_weather}, -->
	<!--
    0: Valles Marineris Hemisphere
    1: Cerberus Hemisphere
    2: Schiaparelli Hemisphere
    3: Syrtis Major Hemisphere
    4: Nasa News Article/Text
    5: JPL Homepage Image
    6: Tweet
    7: html Table; 
  -->

</body>

</html>